/* Global container */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

/* Left sidebar */
.sidebar {
  width: 320px;
  background-color: #f0f4f8;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type='file'] {
  margin-bottom: 20px;
  width: 100%;
}

.employee-details {
  width: 100%;
  background: #f8fafc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.employee-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-table th {
  background-color: #e3eaf2;
  font-weight: bold;
}

.employee-table td button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.employee-table td button:hover {
  background-color: #0056b3;
}

/* Right content area */
.content{
  width: 70%;
}

.employee-details h2 {
  font-size: 24px;
  color: #333;
}

.employee-details p {
  margin: 8px 0;
  font-size: 16px;
  color: #444;
}

.download-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #198754;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #145c39;
}
.salary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
}

.salary-table th,
.salary-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 14px;
  color: #333;
}

.salary-table thead {
  background-color: #f5f8fa;
  font-weight: bold;
}

@media (max-width:425px) {
  .container{
    display: flex;
    flex-direction: column;
  }
}